<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <%-include('../partial/header.ejs')%>
   
    
      <section id="about-info" class="bg-light py-3">
        <div class="container">
          <div class="info-left">
            <h1 class="l-heading"><span class="text-primary">About</span> Us</h1>
            <p>Food Hunt  is a small friendly restaurant in Gurgaon. We have been serving the best quality food for quite some time. We thoughtfully curate every option you see. We believe that food can inspire, spark conversation and bring people together. Our goal is to offer the best food for your group in a convenient-to-use, easy-to-order format.
                Dining at our place is about having a good time - we call it fun! With paper on the tables, make as much of a mess as you want. Come dressed casual and you may bring your own wine or beer if you wish.
                
            </p>
            <p>we are dedicated to all things seasonal with a market-driven day-time menu that also offers a variety of artisan breads and pastries made daily with locally-sourced, heirloom grains.</p>
          </div>
          <div class="info-right">
            <img src="/img/photo-2.jpg" alt="hotel">
          </div>
        </div>
      </section>
    
      <div class="clr"></div>
    
      <section id="testimonials" class="py-3">
        <div class="container">
          <h2 class="l-heading">What Our Guests Say</h2>
          <div class="testimonial bg-primary">
            <img src="/img/person-1.jpg" alt="Samantha">
            <p>Positive section of review

                Good location on the beach front. The concierge staff were awesome. Has good views from the rooftop with its small pool with swim up bar. The room and bed were large and comfortable.
                
                Negative section of review
                
                I probably had the worst meal I have had in Latin America at the hotel restaurant. I’m not fussy and everything was atrocious. It must have been new staff!</p>
          </div>
    
          <div class="testimonial bg-primary">
              <img src="/img/person-2.jpg" alt="Jen">
              <p>The breakfast was good but with a waiting line that I didn't like but I understand for the value for money hotel it is...with lots of people. You can sit by the pool drinking your own beers. When you see the price of beers/food etc in buzios you will appreciate that. Close to all the places you want to visit and can hire a buggy next-door!</p>
            </div>
        </div>
      </section>
    <%-include('../partials/footer.ejs')%>