<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <meta name="keywords" content="hotel,gurgaon hotel, haryana">
    <link rel="stylesheet" href="\css\style.css">
    <title>Hotel FH | Welcome</title>
</head>
<body>
    <body>
      <%-include('../partials/header.ejs')%>
          
          <div id="showcase">
            <div class="container">
              <div class="showcase-content">
                <h1><span class="text-primary">Discover</span> the best food & drinks in Gurgaon</h1>
                <p class="lead">We elieve in the accessible, the affordable, the always authentic.
                    We thrive in the spirit of all substance. 
                </p>
                <a class="btn" href="reservation.html">Book a Table</a>
              </div>
            </div>
          </div>
        </header>
      
        <section id="home-info" class="bg-dark">
          <div class="info-img"></div>
          <div class="info-content">
            <h2><span class="text-primary">The History</span> Of Our Restaurent</h2>
            <p>
                The focus, to be sure, is on one of the most affordable dishes at a given venue. This would be a reasonably boring affair if the column turned into a weekly assessment on olives and edamame. So in many cases, the cheapest dish won’t be the lowest-price item overall, but rather the lowest-cost pasta, dessert, pizza, lunch bowl, or toast.

                 If you’re looking to save money while checking out the vibe of a place, you’re probably not going to order a ₹170 ramekin of bearnaise and call it a night.
            </p>
            <a href="about.html" class="btn btn-light">Read More</a>
          </div>
        </section>
      
        <section id="features">
          <div class="box bg-light">
            <i class="fas fa-hotel fa-3x"></i>
            <h3>Great Location</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, omnis?</p>
          </div>
          <div class="box bg-primary">
              <i class="fas fa-utensils fa-3x"></i>
              <h3>Free Complimentary</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, omnis?</p>
          </div>
          <div class="box bg-light">
              <i class="fas fa-dumbbell fa-3x"></i>
              <h3>Fitness Room</h3>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, omnis?</p>
          </div>
        </section>
      
        <div class="clr"></div>
      
        <%-include('../partials/footer.ejs')%>
    <script src="scriptt.js"></script>
 
</body>
</html>
