<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> 

    <title>product page</title>
</head>

<body>
    
 <%-include('../partials/header.ejs')%>

    <section>
      <div class="container69">
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="/img/google-maps.png">  find on map</button></a></div>
      
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="/img/google-maps.png">  find on map</button></a></div>
      
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="/img/google-maps.png">  find on map</button></a></div>
      
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="/img/google-maps.png">  find on map</button></a></div>
      
      
      
    </div>
    </section>
    <section>
      <div class="container69">
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="/img/google-maps.png">  find on map</button></a></div>
      
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="/img/google-maps.png">  find on map</button></a></div>
      
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="/img/google-maps.png">  find on map</button></a></div>
      
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="/img/google-maps.png">  find on map</button></a></div>
      
      
      
    </div>
    </section>
    <section>
      <div class="container69">
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="/img/google-maps.png">  find on map</button></a></div>
      
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="/img/google-maps.png">  find on map</button></a></div>
      
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="/img/google-maps.png">  find on map</button></a></div>
      
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="google-maps.png">  find on map</button></a></div>
      
      
      
    </div>
    </section>
    <section>
      <div class="container69">
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="google-maps.png">  find on map</button></a></div>
      
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="google-maps.png">  find on map</button></a></div>
      
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="/img/google-maps.png">  find on map</button></a></div>
      
      <div  class="item" id="item1" ><img src="/img/old rao.jpg"><h3>Old Rao Hotel</h3> 
        <h9> Indian,Buffet,Continental</h9>               <div class="rating">3.9<h10>☆</h10></div><a href="https://www.google.com/search?client=opera-gx&q=directions+for+old+rao+hotel&sourceid=opera&ie=UTF-8&oe=UTF-8#"></a><button class="fom"><img src="/img/google-maps.png">  find on map</button></a></div>
      
      
      
    </div>
    </section>
   <br>
   <br>
   
   
   
    
    
</body>
<script>
  
</script>


<%-include('../partials/footer.ejs')%>

