<header>
    <nav id="navbar">
      <div class="container">
        <h1 class="logo"><a href="index.html">Food Hunt</a></h1>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a class="" href="/about">About</a></li>
          <li><a href="/menu">Our Menu</a></li>
          <li><a href="/reservation">Reservations</a></li>
          <li><a href=" /contact">Contact Us</a></li>
          
        </ul>
      </div>
    </nav>
  </header>